<div class="col-xs-12">
  <% # if user selected a zee, preload that selection %>
  <% selected = @geo_zees['selected'] %>
  <div id="header-multiple" class="owner-contact__header <%= (!selected.nil?) ? 'hidden' : '' %>">SEVERAL LOCATIONS INSPECTING</div>
  <div id="header-chosen" class="owner-contact__header <%= (!selected.nil?) ? '' : 'hidden' %>">HOUSEMASTER INSPECTING</div>
  <div class="col-xs-12 owner-contact__indent">
    <div class="owner-contact__location"><%= "#{@geo_zees['location']['city']}, #{@geo_zees['location']['state']}" %></div>
    <div class="owner-contact__change-location" data-toggle="modal" data-target="#local-office-modal">change location</div>

    <div id="chosen-zee-contact" class="<%= (!selected.nil?) ? '' : 'hidden' %>">
      <div class="owner-contact__phone">
        <span class="owner-contact__icon glyphicon glyphicon-earphone"></span>
        <a class="owner-contact__phone--link" href="<%= (!selected.nil?) ? "tel:#{@geo_zees['zees'][selected]['display_phone']}" : '' %>"><%= (!selected.nil?) ? @geo_zees['zees'][selected]['display_phone'] : '' %></a>
      </div>
      <div class="owner-contact__email">
        <span class="owner-contact__icon glyphicon glyphicon-envelope"></span>
        <a class="owner-contact__email--link" href="<%= (!selected.nil?) ? "mailto:#{@geo_zees['zees'][selected]['display_email']}" : '' %>"><%= (!selected.nil?) ? @geo_zees['zees'][selected]['display_email'] : '' %></a>
      </div>
      <% hidden = (!selected.nil? && !@geo_zees['zees'][selected]['display_address_line_1'].blank?) ? '' : 'hidden' %>
      <div class="owner-contact__address1 <%= hidden %>">
        <span class="owner-contact__icon glyphicon glyphicon-map-marker"></span>
        <span class="address"><%= (!selected.nil?) ? @geo_zees['zees'][selected]['display_address_line_1'] : '' %></span>
      </div>
      <% hidden = (!selected.nil? && !@geo_zees['zees'][selected]['display_address_line_2'].blank?) ? '' : 'hidden' %>
      <div class="owner-contact__address2 <%= hidden %>">
        <span class="address"><%= (!selected.nil?) ? @geo_zees['zees'][selected]['display_address_line_2'] : '' %></span>
      </div>
    </div>
    <div id="request-inspection--multi-zee" class="owner-contact__schedule">
      <% request_inspection = determine_widget_request_inspection_link %>
      <a class="<%= request_inspection[:css_class] %>" href="<%= request_inspection[:link] %>" target="<%= request_inspection[:target] %>" onclick="<%= request_inspection[:onclick] %>" role="button">REQUEST AN INSPECTION</a>
    </div>
  </div>
</div>
