<%# 8 services slides %>
<div class="home-services-slider-slide active">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/roofing.jpg);"></div>
    <% service = 'ROOFING' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Cracked caulk or rust spots, shingles that are buckling, curling, or blistering, any missing or broken shingles, cracked and worn rubber boots around vent pipes, missing or damaged chimney caps, (okay, that's technically not part of your roof, but since we're looking anyways), masses of moss and lichen which could signal the roof is decaying underneath, excessive loss of granulation particulate, no more than two layers of roofing, no weird bends in the gutters, no sagging, and no sections of the gutter or downspout that are missing.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
        <!-- <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide active">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/heating_and_cooling.jpg);"></div>
    <% service = 'HEATING & COOLING' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Good air flow throughout the home, no rust around the cooling unit, no combustion gas odor, clean air filters, ductwork in good condition, a heating and cooling source in each habitable room, no asbestos on heating pipes, water pipes or air ducts, proper flue for gas/oil/propane and wood/coal.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/plumbing.jpg);"></div>
    <% service = 'PLUMBING' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Adequate flow and pressure at all fixtures, no signs of restricted water flow, sinks, tubs and showers that all drain properly, stable toilets that operate properly, no damage to visible pipes, no evidence of leaks, no signs of stains on materials near pipes, drain pipes that slope slightly down towards outlet to septic/sewage system, a water heater that is sized to produce adequate quantities of hot water for the number of bedrooms in the house, and a hot water temperature that reads between 118 - 125 degrees Fahrenheit.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/siding.jpg);"></div>
    <% service = 'SIDING' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Adequate clearance between ground and wood siding materials, no cracking, curling, rotting or decay, no dents, damage, no bowing or loose siding, no vines on surface of structure, no flaking or blistering paint, no atrocious paint color choices (just kidding, you're on your own with this one), no troubling stains on exterior surfaces.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/structure.jpg);"></div>
    <% service = 'STRUCTURE' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Walls, ceilings, and floors in good condition, sides of the house appear straight, not bowed or sagging, window and doorframes appear square, wood frames and trim pieces are secure, no cracks, rot or decay, joints around frames are caulked, no broken glass (window or storm panes) or damaged screens, no stains on floors, no walls or ceilings indicating water damage, no significant cracks in walls or ceilings, windows and exterior doors operate easily and latch properly, no broken glass, no sashes painted shut, no knob-less doors, evidence of adequate insulation in walls.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/foundation.jpg);"></div>
    <% service = 'FOUNDATION' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: A visible foundation in a general good condition - appears straight, plumb, with no significant cracks. If cracks appear, the size, direction of movement and location will be noted. Also important is no flaking or damaged masonry, water markings and efflorescence (whitish, chalky substance), bowing, bulging or other irregularities, soft mortar, wetness or signs of water intrusion.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/electrical.jpg);"></div>
    <% service = 'ELECTRICAL' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Visible wiring in good condition, secured and protected with no exposed splices. Adequate capacity of service panel, all wiring attached to panel with proper connections, fuses or breakers are not overheating, lights and switches operate properly, an adequate number of electrical outlets in each room that test properly when spot checked.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/services/kitchen.jpg);"></div>
    <% service = 'KITCHEN' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Built-in appliances that operate properly, no leaks in the pipes underneath of the sink, a stain and decay-free floor below the sink, sufficient water flow from the faucet, no excessive rust or deterioration on garbage disposal or waste pipes, cabinet doors and drawers that open and close properly, a working exhaust fan.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>
