<%# 11 additional services slides %>
<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/radon_screening.jpg);"></div>
    <% service = 'RADON SCREENING' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: The presence of the odorless, colorless and radioactive byproduct of natural soil decay known as radon. Though it cannot be readily detected by sight or smell, an air test will be performed in accordance with local radon guidelines and laws.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
        <!-- <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/wdi_termites.jpg);"></div>
    <% service = 'WOOD DESTROYING INSECTS' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: The presence of insects and other organisms including termites, ants, dry rot, or any other type of destructive organism.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/lead_paint_screening.jpg);"></div>
    <% service = 'LEAD PAINT SCREENING' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Chips, dust, flakes, and peels in the paint. A paint chip sample will be tested.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/water_potability.jpg);"></div>
    <% service = 'WATER POTABILITY' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Over 80 different contaminants, identified by the EPA, that impact water quality. A water quality test will be performed to ensure the safety of your water for everyday things such as drinking, bathing, washing the dog, watering the lawn, etc.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/pool.jpg);"></div>
    <% service = 'POOL' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: The safety of the walking surfaces, access doors and fences, comfortable lounge chairs (not actually required, but highly recommended), recirculation equipment, and safety and emergency equipment.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/water_waste.jpg);"></div>
    <% service = 'WATER AND WASTE' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for:  A properly functioning septic tank, one that is not contaminating the land around your home.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/eifs.jpg);"></div>
    <% service = 'EIFS' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Evidence of water intrusion, improper or missing flashing, improper detailing, improper installation, improper caulking of the EIFS or any combination of these, bulging or cracking EIFS, water stains on the outside or inside of the wall, and around the windows, doors, etc.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/mold_testing.jpg);"></div>
    <% service = 'MOLD TESTING' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Musty odors, defective caulking, and evidence of prior water penetration. Physical samples (air and swab) are collected to determine the presence or absence of mold in a home.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/new_construction.jpg);"></div>
    <% service = 'NEW CONSTRUCTION' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Broken roof trusses, missing siding, missing front door (hey, it could happen), ducts completely unattached to the heating and air conditioning unit, organic growth on crawl space wood framing, raised roof shingles allowing water to penetrate underneath the shingles.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/commercial_property.jpg);"></div>
    <% service = 'COMMERCIAL PROPERTY' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Many of the same key factors that are evaluated in residential home inspections, under the guidance of the ASTM Standards of Practice for Commercial Buildings.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>

<div class="home-services-slider-slide darker-border">
  <div class="home-services-slider-slide__section--top">
    <div class="home-services-slider-slide__graphic" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/additional_services/preventative_maintenance.jpg);"></div>
    <% service = 'PREVENTATIVE MAINTENANCE' %>
    <h1 class="home-services-slider-slide__title--main"><%= service %></h1>
  </div>
  <div class="home-services-slider-slide__bottom-section">
    <div class="home-services-slider-slide__section--middle">
      <div class="col-md-12">
        <h5 class="home-services-slider-slide__title--sub"><%= service %></h5>
        <p class="home-services-slider-slide__text">
          Here's what we look for: Properly functioning smoke alarms, leaking heating and air conditioning units, working drains and piping, properly functioning appliances like refrigerators, dishwashers and clothes washers, outdated kitchen exhaust filters, dusty, leaky, rusty, or broken ductwork, pipes, and vents, good ventilation in the furnace, proper flame, areas of rust on the furnace, cracks in the chimney, properly functioning bathroom fixtures, etc.
        </p>
        <!-- <a class="visible&#45;xs home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">Read More</a> -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="hidden&#45;xs home&#45;services&#45;slider&#45;slide__section&#45;&#45;bottom"> -->
    <!--   <div class="col&#45;md&#45;12"> -->
    <!--     <a class="home&#45;services&#45;slider&#45;slide__more read&#45;more&#45;btn" href="<%= resources_path(:s => service.downcase) %>">READ MORE ARTICLES ABOUT <%= service %></a> -->
    <!--   </div> -->
    <!--   <div class="clearfix"></div> -->
    <!-- </div> -->
  </div>
</div>
