<div class="row no-gutters">
  <%= render :partial => 'slider_2_col' %>
</div>

<div class="row no-gutters">
  <%= render :partial => 'lego_blocks' %>
</div>

<div class="row no-gutters">
  <%= render :partial => '_shared/sliders/featured_articles' %>
</div>

<span id="services" class="anchor-id"></span>
<div class="row no-gutters">
  <%= render :partial => 'services_slider' %>
</div>

<span id="request_inspection" class="anchor-id"></span>
<div class="row no-gutters">
  <%= render :partial => '_shared/forms/request_inspection' %>
</div>
